body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h2 {
    margin-top: 20px;
}

audio, video {
    margin-bottom: 10px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.media-container audio, .media-container video {
    flex: 1 1 45%; /* 45% width untuk setiap media */
}

@media (max-width: 768px) {
    .media-container audio, .media-container video {
        flex: 1 1 100%; /* Set 100% width ketika lebar layar kurang dari 768px */
    }
}
