/* Variabel untuk warna */
$primary-color: #007bff; // Biru utama
$secondary-color: #6c757d; // Abu-abu gelap
$light-grey: #f8f9fa; // Abu-abu muda


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background-color: $light-grey;
}


header {
  background-color: $primary-color;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}


main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 20px;
}

h2 {
  color: $primary-color;
}

p {
  color: $secondary-color;
}


footer {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  padding: 10px;
}
